* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

i,
svg {
  pointer-events: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  &__sequencer {
    // outline: crimson 0.2rem solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 80vw;
    .pad {
      width: 5rem;
      height: 5rem;
      margin: 1rem 0.5rem;
      cursor: pointer;
      border-radius: 0.4rem;
    }

    .track {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5rem;
      min-width: 100%;

      .app__sequencer--controls {
        // outline: crimson 0.2rem solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0.8;

        button {
          padding: 1rem;
          border: none;
          background: #536271;
        }
      }
    }

    &--kickTrack {
      .app__sequencer--kickPads {
        display: flex;

        .kickpad {
          background: #ff495c;
        }
      }
    }

    &--snareTrack {
      display: flex;

      .app__sequencer--snarePads {
        display: flex;

        .snarepad {
          background: #50c9ce;
        }
      }
    }

    &--hihatTrack {
      display: flex;

      .app__sequencer--hihatPads {
        display: flex;

        .hihatpad {
          background: #d1f0b1;
        }
      }
    }

    &--percTrack {
      display: flex;

      .app__sequencer--percPads {
        display: flex;

        .percpad {
          background: #ffc8fb;
        }
      }
    }

    &--shakerTrack {
      display: flex;

      .app__sequencer--shakerPads {
        display: flex;

        .shakerpad {
          background: #ead2ac;
        }
      }
    }
  }
}
