* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

i,
svg {
  pointer-events: none;
}

.app {
  .pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
  }

  &__sequencer--kickPad {
    .kickpad {
      background: #344055;
    }
  }
  &__sequencer--snarePad {
    .snarepad {
      background: #50c9ce;
    }
  }
  &__sequencer--hihatPad {
    .hihatpad {
      background: #72a1e5;
    }
  }
  &__sequencer--percPad {
    .percpad {
      background: #ffc8fb;
    }
  }
  &__sequencer--shakerPad {
    .shakerpad {
      background: #ead2ac;
    }
  }
}
